header{
    background-color:rebeccapurple;
    color: brown
    ;
}

h1 {
    text-align: center;
    color: RGB(48, 255, 20);
    background: rgb(6, 245, 253);
}
p {text-align: left; inline-flex
    color : rgb(36, 18, 117)7);

}
img {
    display: inline-flex;
    margin: 24
  auto; 23
